header,
footer,
.ratings {
  background-color: #03392c;
}
body {
  background-color: #f6f6f6;

  overflow-x: hidden;
}

@keyframes appearance {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appearanceDown {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInO {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);

    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: translateY(20%);

    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.custom__navbar {
  justify-content: flex-end;
}
.nav-item.nav_item_custom {
  margin: 0 16px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.nav-item.nav_item_custom a.nav-link-custom {
  color: white;
}
.nav-item.nav_item_custom::before,
.nav-item.nav_item_custom::after {
  content: "";
  display: block;
  /* width: 100%; */
  height: 4px;
  background-color: white;
  opacity: 0;
}

.nav-item.nav_item_custom:hover.nav-item.nav_item_custom::before {
  opacity: 1;
  animation-name: appearance;
  animation-duration: 0.5s;
}

.nav-item.nav_item_custom:hover.nav-item.nav_item_custom::after {
  opacity: 1;
  animation-name: appearanceDown;
  animation-duration: 0.5s;
}
.banner {
  border-top: solid 1px white;
  min-height: 500px;
  background: linear-gradient(#03392c, #02561a);
}

.banner__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner__left p.text__above {
  color: white;
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-shadow: 5px 2px green;
  animation: fadeInO ease-in 0.8s;
}
.banner__left p.text__down {
  color: greenyellow;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-shadow: 5px 2px 2px green;
  animation: fadeInO ease-in 0.8s;
}

.banner__button {
  background: transparent;
  border: solid 1px white;
  padding: 8px 32px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  animation: fadeInO ease-in 0.8s;

  transition: all ease-in 0.1s;
}
.banner__button:hover {
  background-color: white;
  color: #03392c;
  transform: rotate3d(12px);
}
.banner__right {
  transform: translate(20%, 20%);
  animation: leftToRight ease-in 0.8s;
}
.banner__right img:hover {
  cursor: pointer;
  /* animation: bounce infinite 1s ; */
  transform: scale(1.2);
  transition: all ease-in 0.5s;
  animation: fadeIn ease-in 0.2s;
}

.ratings {
  padding-top: 30px;
}
.ratings .rating__title {
  text-decoration: none;
  display: block;
  font-size: 22px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 60px;
  color: white;
  text-transform: capitalize;
}

.ratings .rating__title i {
  transform: rotate(180deg);
  /* display: none; */
  opacity: 0;
  transition: all ease-in 0.2s;
}

.ratings .rating__title:hover i {
  /* display: block; */
  opacity: 1;
  transform: rotate(0deg);
}
.ratings .rating__title:hover {
  text-decoration: underline;
}

.ratings .rating__title.custom {
  padding-bottom: 0px;
  margin-bottom: 6px;
}

.rating__custom {
  color: white;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
}

.rating__custom::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: white;
  margin-top: 40px;
}
.my-custom-carousel {
  color: white;
  padding: 0 20px;
}
.carousel-control-prev-icon {
  transform: translateX(-150%);
}
.carousel-control-next-icon {
  transform: translateX(150%);
}
.ratings__item {
  background-color: white;
  background-origin: unset;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 30px;
  min-height: 360px;
  padding: 24px 12px;
  /* animation: leftToRight ease-in 1s; */
}
.ratings__item i {
  font-size: 52px;
  color: #03392c;
  padding-bottom: 12px;
}
.ratings__item p {
  font-size: 18px;
  text-transform: uppercase;
  color: #03392c;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2px;
}
.ratings__item span {
  color: #03392c;
  text-align: center;
}
.custom_row {
  margin: 24px 0;
}
.custom_row .item__service {
  margin: 12px 0;
}
.contact,
.products {
  position: relative;
  background-image: url("./img/bg_banner.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 320px;
}

.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 0;
}

.contact__left,
.contact__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact__left p {
  font-size: 30px;
  line-height: 30px;
  color: white;
  font-weight: 600;
}
.contact__left span {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.contact__right a span,
.contact__right a i {
  color: white;
}
.contact__right a {
  text-decoration: none;
  border: none;
  background: #03392c;
  padding: 10px 48px 12px 48px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: bounce ease-in;
  cursor: pointer;
}
.contact__right a:hover {
  animation: bounce infinite 0.8s;
}
.footer {
  color: white;
  padding: 24px 0;
}
.footer .footer__header {
  padding-bottom: 30px;
  border-bottom: solid 1px white;
}
/* .footer__header ~ p a i {
  font-size: 52px;
  padding: 0 12px;
} */
.footer__header ~ p a i.fa-music {
  color: black;
}
.footer__header ~ p a i.fa-shopping-bag {
  color: white;
}

.footer__logo {
  display: flex;
}

.footer__logo a {
  display: block;
  padding: 4p;
  /* border-radius: 50%; */
  /* border: solid; */
  width: 50px;
  height: 50px;
  /* border-radius: 50px; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  margin: 0 12px;
  background: black;
  border-radius: 5px;
  border: none;
}

.footer__logo a:nth-child(2) {
  background: orangered;
}
.footer__logo a:nth-child(3) {
  background: #008fe9;
}

.footer__logo a img {
  width: 22px;
}
.footer__logo a i {
  font-size: 22px;
}

.product__item {
  position: relative;
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 10px;
  animation: fadeIn ease-in 0.8s;
}
.product__item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.products h3 {
  color: #03392c;
  font-size: 22px;
  margin: 10px 0 23px 0;
  font-weight: 500;
  border-left: solid;
}
.products {
}

.product__modal {
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #02561a;
  color: white;
}
.product__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.product__title::after {
  content: "";
  display: block;
  width: 35%;
  height: 2px;
  margin: 24px auto;
  background: white;
}
.product__modal a,
.product__modal__hover a {
  background: transparent;
  font-size: 18px;
  border: solid 1px white;
  padding: 10px 12px;
  margin-top: 34px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.product__modal__hover a:hover {
  color: #03392c;
  background: white;
  font-weight: 600;
  text-align: center;
}

.product__modal__hover {
  display: none;
}
.product__item:hover .product__modal__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  margin: 0 12px;
  text-align: center;
  border: solid 1px #03392c;
  border-radius: 10px;
  background-color: #02561a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: fadeIn 0.5s ease; */
  animation: fadeIn 0.4s ease-in;
  cursor: pointer;
}

.button__contact {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px 0;
  width: 500px;
  background: transparent;
  border: solid 1px white;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  align-items: center;
  margin: 10px 0;
  transition: all ease-in 0.5ss;
  animation: fadeInO ease-in 0.8s;
}

.button__contact:hover{
  border-color: #03392c;
}

.button__contact:first-child:hover {
  background-color: orangered;
}
.button__contact:first-child:hover span i {
  transition: all ease 0.6s;
  font-size: 40px;
}

.button__contact:nth-child(2):hover {
  background-color: #000;
}
.button__contact:nth-child(2):hover span img {
  transition: all ease 0.6s;
  width: 40px;
}
.button__contact:nth-child(3):hover {
  background-color: #008fe9;
}
.button__contact:nth-child(3):hover span img {
  transition: all ease 0.6s;
  width: 80px !important;
}

.button__contact span:first-child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orangered;
  border-radius: 5px;
}

.button__contact span i {
  color: white;
}
.button__contact span img {
  width: 22px;
}
.button__contact span:nth-child(2) {
  flex: 1;
  font-size: 20px;
  color: white;
  text-align: center;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

@media only screen and (max-width: 1110px) {
  .banner__left p.text__above {
    font-size: 50px;
  }
  .button__contact{
    width: 400px;
    height: 50px;
  }
  .button__contact span:first-child {
    width: 40px;
    height: 40px;
  }
  .banner__left p.text__down {
    font-size: 30px;
  }
  body {
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 990px) {
  .banner {
    height: 260px !important;
  }
  .banner__left p.text__above {
    font-size: 40px;
    /* color: rebeccapurple; */
  }
  .button__contact{
    width: 300px;
  }
  .banner__left p.text__down {
    font-size: 20px;
  }
  body {
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 750px) {
  .banner {
   max-height: 260px !important;
  }
  .banner__right{
    display: none;
  }
  .banner__left{
   height: 100%;
  }
  .banner__left p.text__above {
    font-size: 30px;
    /* color: rebeccapurple; */
  }
  .banner__left p.text__down {
    font-size: 20px;
  }
  .carousel-control-prev-icon {
    transform: translateX(-100%);
  }
  .carousel-control-next-icon {
    transform: translateX(80%);
  }
  body {
    overflow-x: hidden;
  }
}
